@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: #000;
  overflow-x: hidden;
  max-height: 100vh;
 
}

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #c3daff; /* Background color of the track */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(rgb(82, 163, 234), rgb(202, 110, 255), rgb(255, 162, 255)); /* Gradient for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}



